name: API-Provider-CI

on:
  workflow_dispatch:

env:
    #oas_file: oas/openapi-transformed.json
    results_file: ReadyAPI-Tests/report.xml

jobs:
  test-api:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Test
        run: chmod ugo+rwx ReadyAPI-Tests && ./launchReadyAPITestRunner.sh
        env:
          PROJECT_FOLDER: ReadyAPI-Tests
          PROJECT_FILE: 'secure-by-design-readyapi-project.xml'
          SLM_API_KEY: ${{ secrets.SLM_API_KEY }} 